[2021-03-16 10:34] khebhut[bot] opened #1 "No dependency management found"
No dependency management found for this repository. If you want to keep your dependencies managed, please submit `Pipfile` or `requirements.in` or `requirements-dev.in` file.

To generate a `Pipfile`, use:
[code]

Make sure your `Pipfile` or `requirements.in` or `requirements-dev.in` is placed in the root of your Git repository.

[2021-03-16 11:20] #1 closed

[2021-03-17 09:25] pacospace opened #4 "jupyterlab does not render images with plotly and fails raising error"
**Is your feature request related to a problem? Please describe.**
I'm working with notebooks from jupyterlab and I'm using plotly to plot, but images are not shown in the jupyterlab notebook.

It appears to be a problem of missing dependency (nbformat) in the kernel created for my notebook. https://github.com/plotly/plotly.py/issues/2159.

[code]

This dependency is not required by the stack itse

[2021-03-19 20:06] fridex opened #8 "Automatically validate prescriptions on a pull request"
**Is your feature request related to a problem? Please describe.**

I, as Thoth contributor, would like to submit an adjustment to the `prescription.yaml` file based on my observation on software I use so that Thoth will make better recommendations on the software. To make sure the change is applicable and can be accepted, CI should run `thoth-adviser validate-prescription prescription.yaml` and r

[2021-03-23 08:15] goern commented on #8
This sounds like a tiny python script we can wrap up as a Tekton task and a Prow job, right?

l

[2021-03-23 08:24] fridex commented on #8
Yes, exactly. We might eventually create a workflow that makes sure the prescription is valid when updating it in a deployment.

[2021-04-13 21:54] fridex opened #18 "Automatically aggregate data for GitHub release notes"
**Describe the feature**

Following GitHub release notes wrap introduced in https://github.com/thoth-station/adviser/pull/1821, we could automatically construct a prescription file holding configuration for open-source packages that host release notes on GitHub

**Implementation**

Let's create a tool that:

- [x] goes through the solver documents available on Ceph and extracts GitHub URL out of t

[2021-06-10 16:49] goern commented on #8
/sig devops
/priority important-soon

[2021-06-10 16:49] goern commented on #4
/priority backlog

[2021-06-10 16:49] goern commented on #18
/priority importnant-soon

[2021-06-10 16:49] sesheta commented on #18
@goern: The label(s) `priority/importnant-soon` cannot be applied, because the repository doesn't have them.

<details>

In response to [this](https://github.com/thoth-station/prescriptions/issues/18#issuecomment-858781326):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or sugge

[2021-06-10 18:00] goern commented on #18
/priority important-soon

[2021-06-14 07:24] #18 closed

[2021-06-16 14:59] fridex opened #27 "New pre-release"

[2021-06-16 15:04] #27 closed

[2021-06-16 15:38] fridex opened #30 "New patch release"
Hey, Kebechet!

Create a new patch release, please.

[2021-06-16 15:41] #30 closed

[2021-07-02 11:48] fridex opened #41 "Adjust directory structure so it is browsable on GitHub"
**Describe the bug**

Currently, GitHub does not show all the prescriptions for packages. The reason is:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Go to prescriptions/prescriptions
2. See the truncated output

**Resolution**

We can group packages into directory structure that would capture first two or three laters of projects listed:

[code]

[2021-07-03 13:47] #41 closed

[2021-07-08 08:01] pacospace opened #48 "Introduce prescription for numpy and Pillow issue at runtime"
**Is your feature request related to a problem? Please describe.**
Issue happening at runtime: https://github.com/thoth-station/ps-cv/issues/16

Source of the issue: https://github.com/python-pillow/Pillow/issues/5571

**Describe the solution you'd like**
Thoth resolves stack correctly suggesting correct version of Pillow. `pillow==8.2.0` or `pillow>8.3.0`

**Describe alternatives you've considere

[2021-07-08 11:10] pacospace commented on #48
/assign @pacospace

[2021-07-12 08:54] fridex opened #50 "Optimize prescriptions loading"
**Is your feature request related to a problem? Please describe.**

As the database of known Python packaging issues will grow, it might be better to create a binary file holding prescriptions and load it on adviser startup. We can still maintain YAML files describing prescriptions, but create a binary file only for deployment to optimize loading and adviser startup.

**Describe the solution you'd

[2021-07-12 08:54] sesheta commented on #50
@fridex: This issue is currently awaiting triage.
One of the @thoth-station/devs will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here](https

[2021-07-13 20:55] goern commented on #50
/triage accepted
/priority important-longterm

[2021-07-14 06:29] fridex commented on #48
Done in https://github.com/thoth-station/prescriptions/pull/53

[2021-07-14 06:29] #48 closed

[2021-07-14 06:39] fridex opened #55 "New minor release"
Hey, Kebechet!

Create a new minor release, please.

[2021-07-14 06:39] sesheta commented on #55
@fridex: This issue is currently awaiting triage.
One of the @thoth-station/devs will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here](https

[2021-07-14 06:49] #55 closed

[2021-07-14 08:11] fridex opened #59 "Some links to RPM packages are broken"
**Describe the bug**

Check for example following RPM package and the corresponding pipeline unit that tries to link to the RPM:

https://github.com/thoth-station/prescriptions/blob/4c3a2433f7ece117e01b4dcb2c7e0e4a3e00ffef/prescriptions/cm_/cmigemo/f34_rpm.yaml#L19-L20

The pipeline unit correctly detects [cmigemo package from PyPI](https://pypi.org/project/cmigemo/) being packaged as an RPM and a

[2021-07-14 08:11] sesheta commented on #59
@fridex: This issue is currently awaiting triage.
One of the @thoth-station/devs will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here](https

[2021-07-14 08:14] fridex commented on #59
CC @frenzymadness could you please have a look at this? You might have the required knowledge here.

Basically, we want to link to some site stating RPM information for Python RPMs packaged in Fedora34 and UBI8, but it looks like we cannot construct URLs automatically to src.fedoraproject.org just based on RPM package name for all the RPMs we found in the distribution. Thanks in advance!

[2021-07-14 08:16] fridex opened #60 "New minor release"
Hey, Kebechet!

Create a new minor release, please.

[2021-07-14 08:17] sesheta commented on #60
@fridex: This issue is currently awaiting triage.
One of the @thoth-station/devs will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here](https

[2021-07-14 08:29] #60 closed

[2021-07-14 13:44] frenzymadness commented on #59
Will do next week.

[2021-07-15 15:16] goern commented on #59
/triage accepted
/assign @frenzymadness
/priority important-soon

[2021-07-15 23:04] sesheta commented on #8
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2021-07-15 23:04] sesheta commented on #4
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2021-07-16 10:58] fridex commented on #4
We can add such recommendations. It would be great to know that jupyterhub is used by sending related data from jupyterlab-requirements extension. See https://github.com/thoth-station/adviser/issues/1514 for more info.

/remove-lifecycle rotten

[2021-07-16 10:58] fridex commented on #8
/remove-lifecycle rotten

[2021-07-16 11:27] pacospace commented on #4
In this case, do we want to know if the extension is running in JH? Should we send this information through labels?

[2021-07-16 11:34] fridex commented on #4
Information about jupyterlab should be sent - it is a runtime environment for which we are resolving. See https://github.com/thoth-station/jupyterlab-requirements/issues/322

[2021-07-19 05:14] fridex opened #66 "New minor release"
Hey, Kebechet!

Create a new minor release, please.

[2021-07-19 05:14] sesheta commented on #66
@fridex: This issue is currently awaiting triage.
One of the @thoth-station/devs will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here](https

[2021-07-19 05:20] #66 closed

[2021-07-19 12:22] frenzymadness commented on #59
What you are looking for is the name of the source package (SRPM) because that is what you need for the URL for src.fp.org. You can get the value from a repoquery:
[code]
Note there is a very simple script `pkgname` that can remove the version, release, etc. from the name:
[code]
Or, if you have the RPM installed or you have the direct access to the RPM file, you can use the `rpm` command for this

[2021-07-21 13:19] fridex commented on #59
@frenzymadness thanks a lot, looks like this works. I will update links shortly in a PR. 👍🏻

When it comes to UBI8/RHEL RPM packages, what would be the best site to point users to? I'm looking for something similar to src.fedoraproject.org described above.

[2021-07-21 18:54] fridex commented on #59
Will reopen to wait, waiting for the answer if we could provide a better UX.

[2021-07-21 18:56] fridex opened #73 "Link to StackOverflow tags for specific packages"
**Is your feature request related to a problem? Please describe.**

As a developer and consumer of Thoth recommendations, I would like to follow recommended StackOverflow link so that I can easily browse stack overflow questions specific to a package recommended.

**Describe the solution you'd like**

Download tags that are available on stack overflow and derive prescription units out of them that

[2021-07-21 18:56] sesheta commented on #73
@fridex: This issue is currently awaiting triage.
One of the @thoth-station/devs will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here](https

[2021-07-21 19:32] frenzymadness commented on #59
I'm afraid that there is nothing like src.fedoraproject.org for RHEL 8 or UBI 8. The closest alternative might be https://access.redhat.com/downloads/content/package-browser but it requires login with a developer account and I'm afraid that there is no way how to create a direct package specific URL address.

For RHEL 9, it will be possible to link to the CentOS stream repositories on gitlab.

[2021-07-21 19:35] fridex commented on #59
OK, thanks Lumir for your valuable input. I think we can close this for now. Thanks again. 👍🏻

/close

[2021-07-21 19:35] #59 closed

[2021-07-21 19:35] sesheta commented on #59
@fridex: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/prescriptions/issues/59#issuecomment-884444437):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test

[2021-07-22 07:28] goern commented on #73
/triage accepted
/priority important-soon

[2021-07-22 09:19] fridex opened #75 "Add project administrators/contributors to CODEOWNERS file"
**Is your feature request related to a problem? Please describe.**

As an open-source project maintainer and/or contributor, I would like to be notified about new prescriptions generated/created by Thoth.

For this purpose, I would like to be stated in [CODEOWNERS](https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/creating-a-repository-on-github/about-code-owners#codeow

[2021-07-22 09:20] sesheta commented on #75
@fridex: This issue is currently awaiting triage.
One of the @thoth-station/devs will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here](https

[2021-07-22 13:42] #73 closed

[2021-07-22 16:09] fridex opened #77 "New minor release"
Hey, Kebechet!

Create a new minor release, please.

[2021-07-22 16:09] sesheta commented on #77
@fridex: This issue is currently awaiting triage.
One of the @thoth-station/devs will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here](https

[2021-07-22 16:17] #77 closed

[2021-07-30 11:27] fridex opened #82 "New minor release"
Hey, Kebechet!

Create a new minor release, please.

[2021-07-30 11:27] sesheta commented on #82
@fridex: This issue is currently awaiting triage.
One of the @thoth-station/devs will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here](https

[2021-07-30 11:37] #82 closed

[2021-07-30 11:37] fridex opened #85 "New patch release"
Hey, Kebechet!

Create a new patch release, please.

[2021-07-30 11:38] sesheta commented on #85
@fridex: This issue is currently awaiting triage.
One of the @thoth-station/devs will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here](https

[2021-07-30 12:03] #85 closed

[2021-07-30 12:03] fridex opened #87 "New patch release"
Hey, Kebechet!

Create a new patch release, please.

[2021-07-30 12:04] sesheta commented on #87
@fridex: This issue is currently awaiting triage.
One of the @thoth-station/devs will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here](https

[2021-08-01 19:12] #87 closed

[2021-08-01 19:13] fridex opened #90 "New patch release"
Hey, Kebechet!

Create a new patch release, please.

[2021-08-01 19:17] sesheta commented on #90
@fridex: This issue is currently awaiting triage.
One of the @thoth-station/devs will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here](https

[2021-08-01 19:24] #90 closed

[2021-08-01 19:42] fridex opened #92 "Deliver Container Image"
Hey, AICoE-CI!

Please build and deliver the following git tag:

Tag: v0.5.1

[2021-08-01 19:42] sesheta commented on #92
@fridex: This issue is currently awaiting triage.
One of the @thoth-station/devs will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here](https

[2021-08-02 07:20] sesheta commented on #92
Successfully built and delivered the image.
Image can be found at:[quay.io/thoth-station/prescriptions:v0.5.1](https://quay.io/thoth-station/prescriptions:v0.5.1)

[2021-08-02 07:20] #92 closed

[2021-08-13 07:27] goern commented on #75
Our workflow is based on Prow's behaviour and the use of `/OWNERS`, and based on that https://github.com/kubernetes/test-infra/tree/master/prow/plugins/blunderbuss will assign reviewers.

Is this a general request to migrate to a github based workflow for assigning reviewers, or is using CODEOWNERS an implementation detail that could also be implemented via OWNERS?

[2021-08-16 06:21] fridex opened #107 "Add prescription for enabling installation grpcio 1.37 with TensorFlow 2.5"
https://github.com/tensorflow/tensorflow/issues/50045

[2021-08-16 06:21] sesheta commented on #107
@fridex: This issue is currently awaiting triage.
One of the @thoth-station/devs will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here](https

[2021-08-16 06:22] fridex commented on #107
/triage accepted
/priority backlog

[2021-08-16 07:13] fridex commented on #75
This was just an idea of how to notify open-source package maintainers about prescriptions related to packages they maintain. If a package maintainer `X` maintains project `Y`, she/he could add himself/herself to the `CODEOWNERS` file:

[code]

In that case, maintainer `X` would be notified of any change in prescriptions related to `Y` and can add suggestions without being bothered by other pull r

[2021-08-16 18:52] fridex opened #108 "New minor release"
Hey, Kebechet!

Create a new minor release, please.

[2021-08-16 18:52] sesheta commented on #108
@fridex: This issue is currently awaiting triage.
One of the @thoth-station/devs will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here](https

[2021-08-16 19:00] #108 closed

[2021-08-17 13:00] goern commented on #75
/priority backlog
/triage accepted

[2021-08-19 21:13] fridex opened #116 "New minor release"
Hey, Kebechet!

Create a new minor release, please.

[2021-08-19 21:15] sesheta commented on #116
@fridex: This issue is currently awaiting triage.
One of the @thoth-station/devs will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here](https

[2021-08-19 21:47] #116 closed

[2021-08-23 20:42] sesheta commented on #50
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-08-24 17:43] sesheta commented on #8
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-08-24 17:43] sesheta commented on #8
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/prescriptions/issues/8#issuecomment-904846309):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test

[2021-08-24 17:43] sesheta commented on #4
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2021-08-25 10:52] fridex commented on #8
/triage accepted
/remove-lifecycle rotten
/reopen

This would be nice to have if we plan to accept new PRs from the community.

[2021-08-25 10:52] sesheta commented on #8
@fridex: Reopened this issue.

<details>

In response to [this](https://github.com/thoth-station/prescriptions/issues/8#issuecomment-905392410):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test

[2021-09-09 12:14] todo[bot] opened #4878 "' is hosted on GitHub"
https://github.com/thoth-station/prescriptions/blob/b28767d030e1cea29bb6f0535229323ca9cada6d/prescriptions/fl_/flake8-todo/gh_link.yaml#L14-L16

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `todo` comment in b28767d030e1cea29bb6f0535229323ca9cada6d when #4836 was merged. cc @thoth-station.

[2021-09-09 12:15] sesheta commented on #4878
@todo[bot]: This issue is currently awaiting triage.
One of the @thoth-station/devs will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here](ht

[2021-09-13 08:25] fridex commented on #4878
/close

[2021-09-13 08:25] #4878 closed

[2021-09-13 08:31] fridex opened #17208 "New minor release"
Hey, Kebechet!

Create a new minor release, please.

[2021-09-13 08:32] sesheta commented on #17208
@fridex: This issue is currently awaiting triage.
One of the @thoth-station/devs will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here](https

[2021-09-13 14:57] #17208 closed

[2021-09-15 04:58] #50 closed

[2021-09-15 08:26] sesheta commented on #107
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-09-15 08:26] sesheta commented on #107
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/prescriptions/issues/107#issuecomment-919809450):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/te

[2021-09-15 08:26] #107 closed

[2021-09-16 09:04] pacospace opened #17212 "Create a script to automatically generate prescriptions from thoth ps-stacks*"
**Is your feature request related to a problem? Please describe.**
See: https://github.com/AICoE/recommend-base-image-tutorial/issues/1

**Describe the solution you'd like**
Create a script to automatically generate prescriptions from thoth ps-stacks*

**Describe alternatives you've considered**

**Additional context**

[2021-09-16 09:04] sesheta commented on #17212
@pacospace: This issue is currently awaiting triage.
One of the @thoth-station/devs will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here](ht

[2021-09-16 14:27] sesheta commented on #75
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-09-16 14:27] #75 closed

[2021-09-16 14:27] sesheta commented on #75
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/prescriptions/issues/75#issuecomment-920952273):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/tes

[2021-09-17 10:08] todo[bot] opened #18489 "' was last updated at 2016-11-15 16:10:38"
https://github.com/thoth-station/prescriptions/blob/51d38d4c6cde8531121f50b1be9d3a206f1b52c7/prescriptions/fl_/flake8-todo/gh_updated.yaml#L14-L16

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `todo` comment in 51d38d4c6cde8531121f50b1be9d3a206f1b52c7 when #18163 was merged. cc @thoth-station.

[2021-09-17 10:08] sesheta commented on #18489
@todo[bot]: This issue is currently awaiting triage.
One of the @thoth-station/devs will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here](ht

[2021-09-17 10:09] fridex commented on #18489
/close

[2021-09-17 10:09] #18489 closed

[2021-09-17 10:09] sesheta commented on #18489
@fridex: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/prescriptions/issues/18489#issuecomment-921676870):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/t

[2021-09-20 07:21] fridex opened #18502 "New minor release"
Hey, Kebechet!

Create a new minor release, please.

[2021-09-20 07:21] sesheta commented on #18502
@fridex: This issue is currently awaiting triage.
One of the @thoth-station/devs will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here](https

[2021-09-20 11:05] #18502 closed

[2021-09-23 20:30] sesheta commented on #4
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2021-09-23 20:30] sesheta commented on #4
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-09-23 20:30] #4 closed

[2021-09-23 20:30] sesheta commented on #4
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/prescriptions/issues/4#issuecomment-926131743):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test

[2021-09-24 14:31] sesheta commented on #8
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-09-24 14:31] sesheta commented on #8
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2021-09-24 14:31] sesheta commented on #8
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/prescriptions/issues/8#issuecomment-926674452):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test

[2021-09-27 08:27] goern opened #18505 "New patch release"
Hey, Kebechet!

Create a new patch release, please.

[2021-09-27 08:27] sesheta commented on #18505
@goern: This issue is currently awaiting triage.
One of the @thoth-station/devs will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here](https:

[2021-09-27 08:28] goern commented on #18505
/triage accepted
/kind feature
/area prescriptions

[2021-09-27 08:30] khebhut[bot] opened #18506 "No version identifier found in sources to perform a release"
Automated version release cannot be performed.
Related: #18505

[2021-09-27 08:30] sesheta commented on #18506
@khebhut[bot]: This issue is currently awaiting triage.
One of the @thoth-station/devs will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here]

[2021-09-27 08:31] goern commented on #18506
/kind feature
/priority critical-urgent
/assign @fridex
/traige accepted

[2021-09-27 13:26] pacospace opened #18507 "Have docs on how to include new prescriptions in adviser"
**Is your feature request related to a problem? Please describe.**
As Thoth Maintainer,

I would like to know how to include new prescriptions in adviser.

**Describe the solution you'd like**
Have docs on how to include new prescriptions in adviser.

**Describe alternatives you've considered**

**Additional context**

**Acceptance Criteria**
- [ ] docs are provided in this repo.

[2021-09-27 13:34] sesheta commented on #18507
@pacospace: This issue is currently awaiting triage.
One of the @thoth-station/devs will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here](ht

[2021-09-27 13:36] goern commented on #18507
/kind feature
/priority critical-urgent
/assign @harshad16
/triage accepted

[2021-09-27 14:36] #18506 closed

[2021-09-27 19:42] #18505 closed

[2021-10-04 07:47] #18507 closed

[2021-10-08 15:41] todo[bot] opened #18518 "Link proper documention from Neural Magic once available"
https://github.com/thoth-station/prescriptions/blob/0efd788bccae59d4d9ff04a6355489128624aa3c/prescriptions/sp_/sparsify/tf.yaml#L22-L27

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in 0efd788bccae59d4d9ff04a6355489128624aa3c when #18516 was merged. cc @pacospace.

[2021-10-18 14:49] goern commented on #18518
/kind feature
/priority backlog
/triage accepted

[2021-10-25 07:55] fridex opened #18529 "New minor release"
Hey, Kebechet!

Create a new minor release, please.

[2021-10-25 08:22] #18529 closed, assigned to sesheta

[2021-10-25 09:34] fridex opened #18532 "New minor release"
Hey, Kebechet!

Create a new minor release, please.

[2021-10-25 10:34] #18532 closed, assigned to sesheta

[2021-11-04 18:55] fridex opened #18543 "Create a prescription fixing TensorFlow 2.6 and Keras 2.7 installation"
**Is your feature request related to a problem? Please describe.**

See https://github.com/tensorflow/tensorflow/issues/52922#issuecomment-960418731

[2021-11-04 18:56] sesheta commented on #18543
@fridex: This issue is currently awaiting triage.
One of the @thoth-station/devs will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here](https

[2021-11-08 10:10] fridex opened #18546 "New minor release"
Hey, Kebechet!

Create a new minor release, please.

[2021-11-08 10:10] sesheta commented on #18546
@fridex: This issue is currently awaiting triage.
One of the @thoth-station/devs will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here](https

[2021-11-22 13:01] #18543 closed

[2021-11-29 20:15] fridex opened #18626 "New minor release"
Hey, Kebechet!

Create a new minor release, please.

[2021-11-29 20:15] sesheta commented on #18626
@fridex: This issue is currently awaiting triage.
One of the @thoth-station/devs will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here](https

[2021-11-29 21:19] #18626 closed

[2021-12-14 13:22] fridex commented on #8
/remove-lifecycle rotten
/triage accepted

[2021-12-14 13:32] mayaCostantini commented on #8
**Note:** when validating prescriptions, we should make sure there are no conflicts regarding the `wraps: -name` section. All packages do not use the convention of naming their versions with three numbers separated by dots (e.g. `x.y.z`) which could eventually cause different versions of a same package to have the same names.

Example: some package version `2.3.0` could have the same name in `wrap

[2021-12-15 18:44] fridex opened #18645 "New minor release"
Hey, Kebechet!

Create a new minor release, please.

[2021-12-15 18:44] sesheta commented on #18645
@fridex: This issue is currently awaiting triage.
One of the @thoth-station/devs will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here](https

[2021-12-15 19:22] fridex commented on #18645
/close

[2021-12-15 19:23] sesheta commented on #18645
@fridex: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/prescriptions/issues/18645#issuecomment-995115976):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/t

[2021-12-15 19:23] #18645 closed

[2021-12-16 10:08] fridex opened #18650 "New minor release"
Hey, Kebechet!

Create a new minor release, please.

[2021-12-16 10:09] sesheta commented on #18650
@fridex: This issue is currently awaiting triage.
One of the @thoth-station/devs will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here](https

[2021-12-16 11:55] #18650 closed

[2022-01-12 10:49] fridex opened #18655 "New minor release"
Hey, Kebechet!

Create a new minor release, please.

[2022-01-12 10:49] sesheta commented on #18655
@fridex: This issue is currently awaiting triage.
One of the @thoth-station/devs will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here](https

[2022-01-12 11:12] #18655 closed

[2022-01-16 18:24] sesheta commented on #18518
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-01-17 08:40] goern commented on #18518
ping

[2022-01-24 11:35] #18518 closed

[2022-02-11 14:32] mayaCostantini opened #18659 "Create prescriptions on projects quality using GitHub Insights"
**Is your feature request related to a problem? Please describe.**

We could use the information present in the [Insights](https://github.com/thoth-station/prescriptions/pulse) section of projects GitHub repositories to get information about a project's activity and assess its quality.

**Describe the solution you'd like**

- [ ] Get Insights information such as pulse, contributions, etc via the G

[2022-02-11 14:33] sesheta commented on #18659
@mayaCostantini: This issue is currently awaiting triage.
One of the @thoth-station/devs will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [her

[2022-02-11 14:35] mayaCostantini commented on #18659
/assign @mayaCostantini

[2022-02-14 13:30] goern commented on #18659
Cc: @cdolfi

[2022-02-14 16:41] cdolfi commented on #18659
@fridex I think it would be great to discuss over a call. Then we can discuss what "consumable form" means in this case and I can give a better view on whats available now and what will be in the foreseeable future

[2022-02-15 15:13] codificat commented on #18659
/triage accepted
/assign @mayaCostantini

[2022-02-24 17:22] fridex opened #18667 "New patch release"
Hey, Kebechet!

Create a new patch release, please.

[2022-02-24 17:22] sesheta commented on #18667
@fridex: This issue is currently awaiting triage.
One of the @thoth-station/devs will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here](https

[2022-02-24 18:26] #18667 closed

[2022-03-01 18:58] fridex opened #19497 "New minor release"
Hey, Kebechet!

Create a new minor release, please.

[2022-03-01 18:58] sesheta commented on #19497
@fridex: This issue is currently awaiting triage.
One of the @thoth-station/devs will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here](https

[2022-03-01 19:32] #19497 closed

[2022-03-07 17:56] fridex opened #20132 "New minor release"
Hey, Kebechet!

Create a new minor release, please.

[2022-03-07 17:56] sesheta commented on #20132
@fridex: This issue is currently awaiting triage.
One of the @thoth-station/devs will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here](https

[2022-03-07 18:20] #20132 closed

[2022-03-07 21:17] fridex opened #20135 "New patch release"
Hey, Kebechet!

Create a new patch release, please.

[2022-03-07 21:17] sesheta commented on #20135
@fridex: This issue is currently awaiting triage.
One of the @thoth-station/devs will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here](https

[2022-03-14 12:04] fridex opened #20554 "New minor release"
Hey, Kebechet!

Create a new minor release, please.

[2022-03-14 12:04] sesheta commented on #20554
@fridex: This issue is currently awaiting triage.
One of the @thoth-station/devs will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here](https

[2022-03-14 13:13] fridex commented on #20554
/close

[2022-03-14 13:13] #20554 closed

[2022-03-14 13:14] fridex opened #20557 "New minor release"
Hey, Kebechet!

Create a new minor release, please.

[2022-03-14 13:14] sesheta commented on #20557
@fridex: This issue is currently awaiting triage.
One of the @thoth-station/devs will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here](https

[2022-03-23 09:52] fridex opened #20956 "Missing links to CVE information for container images"
**Describe the bug**

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Run thoth-adviser validate-prescriptions prescriptions/
2. See the error reported

**Expected behavior**

Schema validation should succeed.

[2022-03-23 09:53] fridex commented on #20956
/priority critical-urgent

[2022-03-23 09:55] fridex commented on #20956
See:

https://github.com/thoth-station/prescriptions/blob/76553e3332d8abcdae618684f0d4821fcb02dc0f/prescriptions/_containers/s2i_thoth_f31_py37/quay_security.yaml#L17

If there is no link provided by Quay, we could provide our own (a default one) in justifications:

https://github.com/thoth-station/prescriptions-refresh-job/blob/a2f7ca682e13ece3db4590d89592af0cc3bccd89/thoth/prescriptions_refresh/

[2022-03-23 10:00] mayaCostantini commented on #20956
/assign @mayaCostantini

[2022-04-06 07:31] fridex opened #21728 "Provide a script that creates markdown report out of prescriptions for a package"
**Is your feature request related to a problem? Please describe.**

As discussed at the TF SIG build community meeting, let's provide a way to generate a markdown file for TensorFlow. This file should turn prescriptions into a README that can be put in a repository. It will keep knowledge about issues/improvements to TensorFlow application stack in a human-readable form.

[2022-04-07 15:33] goern commented on #21728
sounds this is a user-facing feature, so lets push it to
/sig user-experience

/triage needs-information

[2022-04-19 10:13] sesheta commented on #8
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-04-25 16:19] fridex opened #22413 "Failed to validate prescriptions for organization `1132719438`"
**Describe the bug**

[code]

https://github.com/thoth-station/prescriptions/blob/458f264027e3d3701341b481d598d07d38fd0a93/prescriptions/py_/pynvx/gh_release_notes.yaml#L11-L14

**To Reproduce**
Steps to reproduce the behavior:
1. Validate prescriptions
2. See the error

**Expected behavior**

Prescription validation should succeed.

**Additional context**

We place organization into the prescript

[2022-04-25 16:23] fridex opened #22414 "Duplicate prescription names causing name errors on prescriptions validation"
**Describe the bug**

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Try to validate prescriptions
2. See the error reported

**Expected behavior**

Prescriptions validation should succeed.

**Additional context**

The issue is with prescription name construction, in which case prescriptions for `is_/iso-639` and `is_/iso639` created by the same handler will have name collisions:

[c

[2022-04-27 10:27] codificat commented on #22413
I believe this was fully addressed in thoth-station/prescriptions-refresh-job#148, so
/close
Please reopen if that was not the case

[2022-04-27 10:27] #22413 closed

[2022-04-27 14:53] codificat commented on #22413
I did not understand the comments in https://github.com/thoth-station/prescriptions-refresh-job/pull/148 correctly and merged it too soon, going to revert it, so
/reopen

[2022-04-27 16:28] codificat commented on #22413
@mayaCostantini I reverted the changes from merging your previous PR too soon - apologies again for that.

/sig stack-guidance

and I'll add (feel free to adjust):
/priority important-soon
/triage accepted

[2022-05-04 21:26] #22414 closed

[2022-05-10 11:56] fridex opened #23110 "New minor release"
Hey, Kebechet!

Create a new minor release, please.

[2022-05-10 13:01] #23110 closed

[2022-05-12 15:39] fridex opened #23112 "Add prescription for protobuf==v21.0-rc1 and TensorFlow import issue"
**Is your feature request related to a problem? Please describe.**

https://github.com/tensorflow/tensorflow/issues/56077

[2022-05-12 15:49] mayaCostantini commented on #23112
/sig stack-guidance
/priority critical-urgent

[2022-05-12 16:13] mayaCostantini commented on #23112
/assign

[2022-05-16 11:28] #23112 closed

[2022-05-16 11:29] fridex opened #23486 "New minor release"
Hey, Kebechet!

Create a new minor release, please.

[2022-05-16 16:15] sesheta commented on #18659
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-05-19 11:35] sesheta commented on #8
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-05-19 11:42] mayaCostantini commented on #8
/remove-lifecycle rotten
/lifecycle frozen

[2022-05-23 13:45] #20956 closed

[2022-06-13 09:33] fridex opened #25115 "New minor release"
Hey, Kebechet!

Create a new minor release, please.

[2022-06-13 12:04] fridex opened #25117 "[2pt] Check if Thoth users are affected by `keep` package dependencies"
**Is your feature request related to a problem? Please describe.**

See: https://www.bleepingcomputer.com/news/security/pypi-package-keep-mistakenly-included-a-password-stealer/

**Describe the solution you'd like**

- [x] check if keep package is available in Thoth recommendations
- [x] write prescriptions to fix keep's dependency issues
- [x] check if Thoth's database keeps `request` package

[2022-06-13 12:32] mayaCostantini commented on #25117
/sig stack-guidance
/priority critical-urgent

[2022-06-15 18:48] sesheta commented on #18659
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-06-16 09:09] mayaCostantini opened #25118 "[SPIKE]Investigate Scorecards prescriptions with low confidence"
**Describe the bug**

Following the update of the Scorecards handler according to the new BigQuery dataset schema, most Scorecards prescription updates (maybe even all) have been deletions caused by the corresponding entry marked as having a low confidence.
However, no prescriptions on already existing projects were updated or created.

It would be useful to investigate on the cause of this proble

[2022-06-16 09:10] mayaCostantini commented on #25118
/sig stack-guidance
/priority important-soon

[2022-06-17 04:24] #25115 closed

[2022-06-30 12:18] codificat commented on #25117
/lifecycle active

[2022-06-30 12:58] codificat commented on #25117
The `keep` package is not in Thoth's database:

[code]

However, there are prescriptions about it: https://github.com/thoth-station/prescriptions/blob/c341a4a3d55e0014f3e4f2648bf93d6458ffbfcd/prescriptions/ke_/keep/

I did a quick search to try to understand why prescriptions are there for this package we don't know about, and it seems to have originated in https://github.com/thoth-station/prescri

[2022-06-30 13:09] codificat commented on #25117
It does not:

[code]

[2022-07-04 08:48] mayaCostantini opened #26455 "New minor release"
Hey, Kebechet!

Create a new minor release, please.

[2022-07-04 08:48] #26455 closed

[2022-07-04 08:53] sesheta opened #26457 "new minor release"

[2022-07-04 08:53] #26457 closed

[2022-07-05 08:38] mayaCostantini commented on #25117
Following the discussion in the last meeting, it is fine if prescriptions and packages present in Thoth's database are not correlated.

Yes, I guess this would still be useful if the package is ingested by Thoth someday. Feel free to create the corresponding prescription if you have time :+1:

[2022-07-06 13:27] codificat opened #26459 "New minor release"
Hey, Kebechet!

Create a new minor release, please.

[2022-07-06 16:03] sesheta commented on #21728
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-07-06 16:13] mayaCostantini commented on #21728
/remove-lifecycle stale
/lifecycle frozen

[2022-07-06 16:26] #26459 closed

[2022-07-08 20:56] mayaCostantini opened #26461 "Create prescriptions for "critical" PyPI projects"
**Is your feature request related to a problem? Please describe.**

Create prescriptions for projects hosted on PyPI and designed as "critical". Maintainers of those projects will be required to enable 2FA for their accounts and their projects. See the [related PyPI issue](https://github.com/pypi/warehouse/issues/11625) and the [dashboard for monitoring 2FA adoption](https://p.datadoghq.com/sb/7dc

[2022-07-08 20:56] mayaCostantini commented on #26461
/sig stack-guidance
/priority important-longterm

[2022-07-15 21:43] sesheta commented on #18659
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2022-07-15 21:43] #18659 closed

[2022-07-15 21:43] sesheta commented on #18659
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/prescriptions/issues/18659#issuecomment-1185968199):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes

[2022-07-18 11:11] #25117 closed

[2022-07-26 19:05] sesheta commented on #22413
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-08-08 13:19] codificat commented on #22413
/remove-lifecycle stale

[2022-08-23 03:33] harshad16 opened #27717 "New minor release"
Hey, Kebechet!

Create a new minor release, please.

[2022-08-23 04:30] #27717 closed

[2022-08-30 13:45] VannTen commented on #8
As an alternative to a new CI job, could this be a pre-commit hook ? This would have the advantages that it would be easily run locally. (the recent changes of pre-commit removing `--all-files` should ensure we don't validate everything every time)

[2022-09-02 15:29] Gkrumbach07 commented on #25118
The latest prescription has confidence of `0` across _all_ repos and hasnt been updated since the last entry on `2022-05-16`

<img width="777" alt="image" src="https://user-images.githubusercontent.com/12587674/188183097-aacf5555-7199-4a47-9d07-33235cee6523.png">

[2022-10-27 12:17] mayaCostantini opened #31968 "[Spike] Scale OSSF Scorecards prescriptions out of GitHub for aggregation by revision"
**Is your feature request related to a problem? Please describe.**
As we will start aggregating Scorecards prescriptions by project repository revision as present in the new `scorecards-v2` BigQuery dataset and possibly create those prescriptions for packages from other ecosystems, we should think about a more scalable solution to have this data available.
The current size of the `prescriptions` d

[2022-10-27 12:17] mayaCostantini commented on #31968
/sig stack-guidance
/priority important-soon

[2022-10-27 12:21] mayaCostantini commented on #31968
Needs https://github.com/thoth-station/prescriptions-refresh-job/issues/195

[2022-10-28 14:06] #25118 closed

[2022-10-28 21:10] oindrillac opened #31969 "Upgrade Glibc version on container image"
Hi Thoth team,

I am using the [ocp-ci-analysis image](https://github.com/oindrillac/ttmtool/blob/0d8a56fe863a186d75d1f3a1a2630e56ebafb79a/.github/workflows/run-in-container.yaml#L18) created by sesheta in [this github action workflow ](https://github.com/oindrillac/ttmtool/blob/main/.github/workflows/run-in-container.yaml) and I am seeing an issue with a package Glibc.

<img width="1295" alt="Scr

[2022-10-31 16:30] harshad16 commented on #31969
we have to help provide our understanding
however this a user request
moving this to support repo for better tracking.

[2022-11-01 13:18] Gkrumbach07 commented on #21728
Possible Acceptence Criteria
- [ ] create a script that creates markdown readme of all prescriptions for a specific package
    - [ ] Group first by type, then add table with informations, package versions, messages, and links
- [ ] This script could be included into prescription refresh job and places the output file in the same folder as the prescription data.
- [ ] Also have this script accessi

[2022-11-01 13:19] Gkrumbach07 commented on #21728
/triage accepted

[2022-11-11 14:37] goern opened #33388 "Create Concept to have Prescriptions for Java packages"
**Is your feature request related to a problem? Please describe.**
We want to provide a way to a) store prescriptions for java packages and b) analyse a given java stack, so that we can show off all the knowledge we aggregated around that stack.

**Describe the solution you'd like**
tbd

**Describe alternatives you've considered**
none

**Additional context**
tbd

[2022-11-11 14:39] goern opened #33389 "document in README.md what information source we use to generate prescriptions"
**Is your feature request related to a problem? Please describe.**
SSIA

**Describe the solution you'd like**
tbd

**Describe alternatives you've considered**
tbd

**Additional context**
tbd

[2022-11-13 08:04] mayaCostantini commented on #33388
Regarding prescriptions, we could start a new prescriptions repository specific to Java packages and reuse the same logic as in prescriptions-refresh-job (it is possible to change the default repositories to generate prescriptions from):

- [ ] Create a new Java prescriptions repository with a selected list of projects
- [ ] Write handlers specific to Java packages (for example for package downloa

[2022-11-15 16:31] #33389 closed

[2022-11-27 16:20] mayaCostantini opened #35478 "New minor release"
Hey, Kebechet!

Create a new minor release, please.

[2022-11-27 20:50] #35478 closed